<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
  <body style="font-family: Arial, sans-serif; background: #f9f9f9; padding: 20px;">
    <h2>🔐 Password successfully changed</h2>

    <p>Your password for <strong>rawpapers.store</strong> has just been changed.</p>

    <p style="margin-top: 16px;">
      If it was you - no action is required.
    </p>

    <p>
      <strong>If it was not you</strong> - immediately restore access on the web-site!
      <br>
    </p>

    <hr style="margin: 20px 0;">
    <p style="font-size: 12px; color: #777;">
        IP: {{ ip_address }} | User-Agent: {{ user_agent }} | Last login time: {{ timestamp }}
    </p>

    <hr>
    <p style="font-size:12px;color:#888;">Kind regards,<br>Rawpapers support team</p>
  </body>
</html>
