<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body style="font-family: Arial, sans-serif; color: #333;">
  <h2>Registration Confirmed.</h2>
  <p>
    <img src="https://www.pulsarvaporizers.com/cdn/shop/products/RP214.jpg?v=1596643312" alt="Rawpapers Logo" width="120" style="margin-bottom: 20px;">
  </p>
  <p>Hi <strong>{{ username }}</strong>, Welcome to Rawpapers!</p>
  <p>Your account has been successfully activated on <strong>Rawpapers</strong>.</p>

  <p>You can now log in and start using the service.</p>

  <hr>
  <p style="font-size:12px;color:#888;">Kind regards,<br>Rawpapers support team</p>
</body>
</html>