<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body style="font-family: Arial, sans-serif; color: #333;">
  <p>Link lifetime: <strong>10 minutes</strong>.</p>
  <h2>Confirm password changing</h2>
  <p>
    <img src="https://www.pulsarvaporizers.com/cdn/shop/products/RP214.jpg?v=1596643312" alt="Rawpapers Logo" width="120" style="margin-bottom: 20px;">
  </p>
  <p>Hello <strong>{{ email }}</strong>, you requested password changing on Rawpapers</p>
  <p>Click the link below to confirm your password change:</p>
  <p>
    <a href="{{ password_change_url }}" style="display:inline-block; padding:10px 20px; margin: 5px; background:#000; color:#fff; text-decoration:none; border-radius:5px;">
      Confirm password change
    </a>
  </p>
  <p>If it was not you, <strong>immediately</strong> change your password!</p>

  <hr style="margin: 20px 0;">
  <p style="font-size: 12px; color: #777;">
    IP: {{ ip_address }} | User-Agent: {{ user_agent }} | Time of request: {{ timestamp }}
  </p>

  <hr>
  <p style="font-size:12px;color:#888;">Kind regards,<br>Rawpapers support team</p>
</body>
</html>