# Python artifacts
__pycache__/
.pytest_cache/
*.py[cod]
*.so

# Django migrations cache
**/migrations/__pycache__/

# Django generated
*.log
logs/
*.pot
media/
staticfiles/

# Docs
docs/

# Locust
.locust/

# Celery
celerybeat-schedule
celerybeat.pid

# Archive
*.zip

# Environments
.env*
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
